body {
    font-family:"Times New Roman", Times, serif;
    color: #242625;
    background-color: #ebefef;
    margin: 10px;
    padding: 0%;
    text-align: center;
}

header {
    /* change font for header */
    font-family: Georgia, serif;   
    font-weight: 100;
    color:#3a2f20;
    margin-left: auto;
} 

footer {
    
}

/* unvisited link */
a:link {
    color: #9f8c79;
    text-decoration: underline;
}
  
/* visited link */
a:visited {
    color: white;
}
  
/* mouse over link */
a:hover {
    font-weight: 900;
    color: #966d48;
}
  
/* selected link */
a:active {
    color: #3a2f20;
    text-decoration: null;
}

.btn-nav {
    border-color: #3a2f20;
    background-color: #9f8c79;
}

.btn-nav:hover {
    color: #b3b6b8;
    background-color: #966d48;
}

hr {
    border-top: 1px solid transparent;
}